:root {
    --purple: #9b4dca;
    --orange: #e0a458;
    --green: #419d78;
    --gray: #606c76;

    --screen-lg: 1100px;
}

body{
    color: #606c76;
}

ul,
li {
    all: unset;
}

.bg-purple {
    background-color: var(--purple);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-green {
    background-color: var(--green);
}

nav div,
.page-container {
    width: var(--screen-lg);
}

nav div{
    padding: 0 10px;
}

.pt-nav {
    padding-top: 46px;
}

.btn {
    color: white;
    font-weight: 700;
    font-size: 0.675rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.btn:hover {
    color: white;
    background-color: var(--gray);
}

.btn:focus{
    box-shadow: none;
    background-color: var(--gray);
}

@media (max-width: 1100px){
    nav div,
    .page-container {
        width: 100%;
    }
}
