dd, dt {
    margin-top: 25px;
    font-size: 20px;
}

dd {
    margin-left: 40px;
}

.table thead td, .table th {
    border-color: transparent;
}

a {
    color: var(--purple);
}

a:hover {
    color: var(--gray);
    text-decoration: none;
}
